scikit-learn>=0.24.1
imageio==2.25.0
moviepy==1.0.3
jinja2==3.1.2
pdfkit==1.0.0
matplotlib>=3.5.3
seaborn>=0.13.2
yfinance==0.2.51
requests-ratelimiter==0.7.0
pandas-market-calendars==4.4.2
py-vollib==1.0.1
flask==3.0.3
charset-normalizer==3.4.0
requests==2.32.3
Quart>=0.19.6
aiofiles>=24.1.0
aiohttp>=3.10.8
quart-auth>=0.11.0
bcrypt==4.2.1
tastytrade==9.5
pyarrow==18.1.0
fastparquet==2024.11.0