<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>

    <meta charset="utf-8">
    <title>sec-gex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/uPlot.min.css">
    <script src="/static/uPlot.iife.min.js"></script>
    {% include 'index-uplot-style.html' %}

</head>

<body>

<br>

<br>
# gex plot<br><br>

+ gex is a guesstimate using 0DTE SPXW candle bid ask volume akin @gexbot classic from the current and past 10 days (not as accurate as @optionsdepth @spotgamma) <br>

+ horizontal lines: spot: white, expected moves: gray, major positive gex strike: green, majre negative gex strike: red.<br>

<br>
# order imbalance plots<br><br>

+ call and put order imbalance are sum of 0DTE SPXW candle bid and ask volume every 5min, more selling (red), more buying (green) {{ order_imbalance_range_str }}<br>

</body>
</html>
