<div id="{{div_name}}" hx-swap-oob="true">
<script>
var data = []
{%for n,row in df.iterrows() %}
data.push({
    x: [0, {{row.gex}}],
    y: [{{row.strike}}, {{row.strike}}],
    alpha: 0.3,
    mode: 'lines',
    {% if row.gex > 0 %}
    line: {color: 'rgb(50, 255, 50)'}
    {% else %}
    line: {color: 'rgb(255, 50, 50)'}
    {% endif %}
})
{% endfor %}

data.push({
    x: [ {{ df.gex.min() }}, {{ df.gex.max() }} ],
    y: [ {{ spot_price }}, {{ spot_price }} ],
    mode: 'lines',
    line: {
        color: 'rgb(50,50,255)',
        dash: 'dot',
        width: 5,
    }
})

var layout = {
    title: {text: '{{ticker}} {{ "%0.2f" | format(spot_price|float) }}'},
    width: 320,
    height: 320,
    paper_bgcolor: 'rgba(0,0,0,0)',
    plot_bgcolor: 'rgba(0,0,0,0)',
    yaxis: {
        showgrid: true,
        range: [ {{spot_price}}*0.90, {{spot_price*1.1}} ]
    },
    showlegend: false,
    font: {
        family: 'Courier New, monospace',
        size: 18,
        color: 'rgba(200,200,200,1)'
    }
};

Plotly.newPlot("{{ticker}}-plot", data, layout);
</script>

<div id="{{ticker}}-plot"></div>

<!--
<span class="badge rounded-pill text-bg-dark">
data_tstamp:{{ data_tstamp }}
</span>
<span class="badge rounded-pill text-bg-dark">
server_tstamp:{{ server_tstamp }}
</span>
-->
</div>

