<div id="surfUpdate" hx-swap-oob="true">
    <script>

    var z_data=[];
    {% for x in surf_list %}
    z_data.push({{ x }});
    {% endfor %}
    
    var surfData = [{
        z: z_data,
        type: 'surface'
    }];

    Plotly.react(surfDiv, surfData, surfDiv.layout);

    </script>
</div>
<div id="strikeUpdate" hx-swap-oob="true">
    <script>
    var strikeData = []
    {%for n,row in strike_df.iterrows() %}
    strikeData.push({
        x: [0, {{row.gex}}],
        y: [{{row.strike}}, {{row.strike}}],
        mode: 'lines',
        width: 2,
        {% if row.gex > 0 %}
        line: {color: 'rgb(50, 255, 50)'}
        {% else %}
        line: {color: 'rgb(255, 50, 50)'}
        {% endif %}
    })
    {% endfor %}

    strikeData.push({
        x: [ {{ strike_df.gex.min() }}, {{ strike_df.gex.max() }} ],
        y: [ {{ spot_price }}, {{ spot_price }} ],
        mode: 'lines',
        line: {
            color: 'rgb(50,50,255)',
            dash: 'dot',
            width: 5,
        }
    })

    Plotly.react(strikeDiv, strikeData, strikeDiv.layout);
    </script>

    <span class="badge rounded-pill text-bg-dark">
    data_tstamp:{{ data_tstamp }}
    </span>
    <span class="badge rounded-pill text-bg-dark">
    server_tstamp:{{ server_tstamp }}
    </span>

</div>
