
<script>


function makeChartScatter(elementName,mytitle) {

	const drawPoints = (u, seriesIdx, idx0, idx1) => {
		const size = 5 * pxRatio;

		uPlot.orient(u, seriesIdx, (series, dataX, dataY, scaleX, scaleY, valToPosX, valToPosY, xOff, yOff, xDim, yDim, moveTo, lineTo, rect, arc) => {
			let d = u.data[seriesIdx];

			u.ctx.fillStyle = series.stroke();

			let deg360 = 2 * Math.PI;


			let p = new Path2D();

			for (let i = 0; i < d[0].length; i++) {
				let xVal = d[0][i];
				let yVal = d[1][i];

				if (xVal >= scaleX.min && xVal <= scaleX.max && yVal >= scaleY.min && yVal <= scaleY.max) {
					let cx = valToPosX(xVal, scaleX, xDim, xOff);
					let cy = valToPosY(yVal, scaleY, yDim, yOff);

					p.moveTo(cx + size/2, cy);
					arc(p, cx, cy, size/2, 0, deg360);

				}
			}

			console.timeEnd("points");

			u.ctx.fill(p);
		});

		return null;
	};

	// https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/isPointInPath
	let qt;

	let pxRatio;

	function setPxRatio() {
		pxRatio = uPlot.pxRatio;
	}

	function guardedRange(u, min, max) {
		if (max == min) {
			if (min == null) {
				min = 0;
				max = 100;
			}
			else {
				let delta = Math.abs(max) || 100;
				max += delta;
				min -= delta;
			}
		}

		return [min, max];
	}

	setPxRatio();

	window.addEventListener('dppxchange', setPxRatio);

	const opts = {
		title: mytitle,
		mode: 2,
		width: 420,
		height: 420,
		legend: {
			live: false,
		},
		hooks: {
			drawClear: [
				u => {

					// force-clear the path cache to cause drawBars() to rebuild new quadtree
					u.series.forEach((s, i) => {
						if (i > 0)
							s._paths = null;
					});
				},
			],
		},
		scales: {
			x: {
				dir: 1,
				ori: 1,
			},
			y: {
				dir: 0,
				ori: 1,
			}
		},
		axes: [
			{
				side: 0,
				stroke: "#666666",
				tick: {stroke: "#666666",width:1},
				grid: {stroke: "#666666",width:1},
			},
			{
				side: 3,
				stroke: "#666666",
				grid: {stroke: "#666666",width:1},
				tick: {stroke: "#666666",width:1},
			}
		],
		scales: {
			x: {
				time: true,
			//	auto: false,
			//	range: [0, 500],
				// remove any scale padding, use raw data limits
				range: guardedRange,
			},
			y: {
				time: false,
			//	auto: false,
			//	range: [0, 500],
				// remove any scale padding, use raw data limits
				range: guardedRange,
			},
		},
		series: [
			{},
			{
				stroke: "rgba(255,0,0,0.5)",
				fill: "rgba(255,0,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(200,0,0,0.5)",
				fill: "rgba(200,0,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(150,0,100,0.5)",
				fill: "rgba(150,0,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(100,0,0,0.5)",
				fill: "rgba(100,0,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(50,0,0,0.5)",
				fill: "rgba(50,0,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(25,0,0,0.5)",
				fill: "rgba(25,0,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke:  "rgba(0,25,0,0.5)",
				fill: "rgba(0,25,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke:  "rgba(0,50,0,0.5)",
				fill: "rgba(0,50,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(0,100,0,0.5)",
				fill: "rgba(0,100,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(0,150,0,0.5)",
				fill: "rgba(0,150,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(0,200,0,0.5)",
				fill: "rgba(0,200,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(0,255,0,0.5)",
				fill: "rgba(0,255,0,0.5)",
				paths: drawPoints,
			},
			{
				stroke: "rgba(255,255,255,0.5)",
				fill: "rgba(255,255,255,0.5)",
				paths: drawPoints,
			},
		],
	};
	// first element has to be empty, didt not investigate why, guessing uplot architecture constraint.
	let ogdata = [ [],
		[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],
		[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],[[1,1,1],[1,1,1],[]],
		[[1,1,1],[1,1,1],[]],
	] ;
	return new uPlot(opts, ogdata, document.getElementById(elementName));
}


let mychartCallScatter = makeChartScatter("myCallOrderImbalance","call-order-imbalance");
let mychartPutScatter = makeChartScatter("myPutOrderImbalance","put-order-imbalance");

function updateChartCallOrderImbalance(data,minval,maxval){
	mychartCallScatter.setScale('y', {min: minval, max: maxval});
	mychartCallScatter.setData(data);
	
}
function updateChartPutOrderImbalance(data,minval,maxval){
	mychartPutScatter.setScale('y', {min: minval, max: maxval});
	mychartPutScatter.setData(data);
}

</script>
