
<script>
    const ws = new WebSocket("/ws-main-socket?dstamp={{ dstamp }}");
    let dataQcSpan = document.getElementById("dataQcSpan");
    let serverTstampSpan = document.getElementById("serverTstampSpan");
    let queryTimeSpan = document.getElementById("queryTimeSpan");
    let dataTstampSpan = document.getElementById("dataTstampSpan");
    let spxpriceSpan = document.getElementById("spxpriceSpan");
    let espriceSpan = document.getElementById("espriceSpan");
    let vixSpan = document.getElementById("vixSpan");
    let vix1dSpan = document.getElementById("vix1dSpan");
    //let statusDiv = document.getElementById("statusDiv");
    ws.onmessage = function(event) {
        let newdata = JSON.parse(event.data);
        dataQcSpan.textContent = newdata.qc_comment;
        serverTstampSpan.textContent = newdata.server_tstamp;
        serverTstampSpan.textContent = newdata.server_tstamp;
        queryTimeSpan.textContent = newdata.duration_time;
        dataTstampSpan.textContent = newdata.data_tstamp;
        spxpriceSpan.textContent = newdata.spx_price;
        espriceSpan.textContent = newdata.es_price;
        vixSpan.textContent = newdata.vix_price;
        vix1dSpan.textContent = newdata.vix1d_price;
        updateChartGex(newdata);
        updateChartConvexity(newdata);
        updateChartPrices(newdata.prices,newdata.spot_min_lim,newdata.spot_max_lim);
        updateChartCallOrderImbalance(newdata.call_order_imbalance,newdata.spot_min_lim,newdata.spot_max_lim);
        updateChartPutOrderImbalance(newdata.put_order_imbalance,newdata.spot_min_lim,newdata.spot_max_lim);
    }
</script>
