<script>

function makeChartGexDiff() {
	let isYRangeFixed = false;
	const opts = {
		title: "gex,1day",//"gex,last-x-min",
		width: 380,//210,
		height: 380,
		legend: {
			show: false,
		},
		series: [
			{},
			{
				label: "diff(net_gex)",
				scale: "scale1",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				paths: uPlot.paths.bars(),
				fill: "rgba(210,210,10,0.7)",
				width: 5/devicePixelRatio,
			},
			{
				label: "net_gex",
				scale: "scale0",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				stroke: "rgba(100,200,100,1)",
				dash: [3, 3],
				width: 2/devicePixelRatio
			},
		],
		axes: [
			{
				side: 0,
				stroke: "#666666",
				tick: {stroke: "#666666",width:1},
				grid: {stroke: "#666666",width:1},
			},
			{
				side: 3,
				scale: "scale0",
				stroke: "#666666",
				grid: {stroke: "#666666",width:1},
				tick: {stroke: "#666666",width:1},
			},
			{
				side: 1,
				scale: "scale1",
				values: (u, vals, space) => vals.map(v => v.toFixed(2) + ""),
				stroke: "#666666",
				grid: {show: false},
				tick: {stroke: "#666666",width:1},
			},
		],
	};
	
	return new uPlot(opts, [], document.getElementById("myGexDiff"));
}

function makeChartConvexityDiff() {
	let isYRangeFixed = false;
	const opts = {
		title: "convexity,1day",//"convexity,last-x-min",
		width: 380,//210,
		height: 380,
		legend: {
			show: false,
		},
		series: [
			{},
			{
				label: "net_convexity",
				scale: "scale0",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				stroke: "rgba(140,90,225,0.7)",
				dash: [3,3],
				width: 2/devicePixelRatio
			},
			{
				label: "diff(net_convexity)",
				scale: "scale1",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				paths: uPlot.paths.bars(),
				fill: "rgba(0,255,255,1)",
				width: 5/devicePixelRatio
			},
		],
		axes: [
			{
				side: 0,
				stroke: "#666666",
				tick: {stroke: "#666666",width:1},
				grid: {stroke: "#666666",width:1},
			},
			{
				side: 3,
				scale: "scale0",
				stroke: "#666666",
				grid: {stroke: "#666666",width:1},
				tick: {stroke: "#666666",width:1},
			},
			{
				side: 1,
				scale: "scale1",
				values: (u, vals, space) => vals.map(v => v.toFixed(2) + ""),
				stroke: "#666666",
				grid: {show: false},
				tick: {stroke: "#666666",width:1},
			},
		],
	};
	
	return new uPlot(opts, [], document.getElementById("myConvexityDiff"));
}
let mychartGexDiff = makeChartGexDiff();
let mychartConvexityDiff = makeChartConvexityDiff();

function updateChartGexDiff(data){
	mychartGexDiff.setData(data);
}
function updateChartConvexityDiff(data){
	mychartConvexityDiff.setData(data);
}
</script>
