
<script>

function makeChartConvexity(opts,elementId) {
	let bars = uPlot.paths.bars({align: 0, size: [1, 4], gap: 0});
	opts = uPlot.assign({
		scales: {
			x: {
				time: false,
			},
		},
		focus: {
			alpha: 0.3,
		},
		cursor: {
			lock: true,
			drag: {
				x: true,
				y: true,
			},
			sync: {
				key: 0,
				scales: ["x", "y"],
			},
			focus: {
				prox: 30,
			}
		},
		series: [
			{},
			{
				stroke: "cyan",
				fill: "rgba(0,255,255,0.9)",
				paths: bars,
			},
			{
				stroke: "purple",
				fill: "rgba(127,0,128,0.9)",
				paths: bars,
			},
		],
	}, opts);

	return new uPlot(opts, [], document.getElementById(elementId));
}

function linesPluginConvexity(mylines) {
	function drawLines(u) {
		  const { ctx, bbox } = u;
		mylines.forEach( item => {
			xVal = item[0];
			color = item[1];
			let x4 = u.valToPos(xVal, 'x', true);
			let ylft = u.valToPos(u.scales.y.min, 'y', true);
			let yrgt = u.valToPos(u.scales.y.max, 'y', true);
			u.ctx.save();
			u.ctx.beginPath();
			u.ctx.moveTo(ylft, x4);
			u.ctx.lineTo(yrgt, x4);
			u.ctx.setLineDash([5,5]);
			u.ctx.lineWidth = 1.5;
			u.ctx.strokeStyle = color;
			u.ctx.stroke();
			u.ctx.restore();
		});
	}

  return {
	hooks: {
	  draw: drawLines,
	}
  };
}

const linesSPX = [];
const linesNDX = [];
const linesSPY = [];
const linesQQQ = [];

let mychartConvexitySPX = makeChartConvexity({
	width: 380,
	height: 380,
	title: "spx-convexity*",
	scales: {
		x: {
			dir: 1,
			ori: 1,
		},
		y: {
			dir: 1,
			ori: 0,
		}
	},
	plugins: [
		linesPluginConvexity(linesSPX)
	],
	axes: [
		{
			side: 3,
			stroke: "#666666",
			tick: {stroke: "#666666",width:1},
			grid: {stroke: "#666666",width:1},
		},
		{
			side: 0,
			stroke: "#666666",
			grid: {stroke: "#666666",width:1},
			tick: {stroke: "#666666",width:1},
		}
	],
},"mySpxConvexity");

let mychartConvexityNDX = makeChartConvexity({
	width: 380,
	height: 380,
	title: "ndx-convexity*",
	scales: {
		x: {
			dir: 1,
			ori: 1,
		},
		y: {
			dir: 1,
			ori: 0,
		}
	},
	plugins: [
		linesPluginConvexity(linesNDX)
	],
	axes: [
		{
			side: 3,
			stroke: "#666666",
			tick: {stroke: "#666666",width:1},
			grid: {stroke: "#666666",width:1},
		},
		{
			side: 0,
			stroke: "#666666",
			grid: {stroke: "#666666",width:1},
			tick: {stroke: "#666666",width:1},
		}
	],
},"myNdxConvexity");

let mychartConvexitySPY = makeChartConvexity({
	width: 380,
	height: 380,
	title: "spy-convexity*",
	scales: {
		x: {
			dir: 1,
			ori: 1,
		},
		y: {
			dir: 1,
			ori: 0,
		}
	},
	plugins: [
		linesPluginConvexity(linesSPY)
	],
	axes: [
		{
			side: 3,
			stroke: "#666666",
			tick: {stroke: "#666666",width:1},
			grid: {stroke: "#666666",width:1},
		},
		{
			side: 0,
			stroke: "#666666",
			grid: {stroke: "#666666",width:1},
			tick: {stroke: "#666666",width:1},
		}
	],
},"mySpyConvexity");


let mychartConvexityQQQ = makeChartConvexity({
	width: 380,
	height: 380,
	title: "qqq-convexity*",
	scales: {
		x: {
			dir: 1,
			ori: 1,
		},
		y: {
			dir: 1,
			ori: 0,
		}
	},
	plugins: [
		linesPluginConvexity(linesNDX)
	],
	axes: [
		{
			side: 3,
			stroke: "#666666",
			tick: {stroke: "#666666",width:1},
			grid: {stroke: "#666666",width:1},
		},
		{
			side: 0,
			stroke: "#666666",
			grid: {stroke: "#666666",width:1},
			tick: {stroke: "#666666",width:1},
		}
	],
},"myQqqConvexity");


function updateChartConvexitySPX(data){
	linesSPX[0] = [data.plus_expected_move,'gray'];
	linesSPX[1] = [data.minus_expected_move,'gray'];
	linesSPX[2] = [data.major_pos_convexity,'cyan'];
	linesSPX[3] = [data.major_neg_convexity,'purple'];
	linesSPX[4] = [data.spx_price,'white'];
	mychartConvexitySPX.setData(data.convexity_list);
}

function updateChartConvexityNDX(data){
	linesNDX[0] = [data.ndx_price,'white'];
	linesNDX[1] = [data.ndx_major_pos_convexity,'cyan'];
	linesNDX[2] = [data.ndx_major_neg_convexity,'purple'];
	mychartConvexityNDX.setData(data.ndx_convexity_list);
}

function updateChartConvexitySPY(data){
	linesSPY[0] = [data.spy_price,'white'];
	linesSPY[1] = [data.spy_major_pos_convexity,'cyan'];
	linesSPY[2] = [data.spy_major_neg_convexity,'purple'];
	mychartConvexitySPY.setData(data.spy_convexity_list);
}

function updateChartConvexityQQQ(data){
	linesQQQ[0] = [data.qqq_price,'white'];
	linesQQQ[1] = [data.qqq_major_pos_convexity,'cyan'];
	linesQQQ[2] = [data.qqq_major_neg_convexity,'purple'];
	mychartConvexityQQQ.setData(data.qqq_convexity_list);
}

</script>
