<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>

    <meta charset="utf-8">
    <title>sec-gex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/uPlot.min.css">
    <script src="/static/uPlot.iife.min.js"></script>
    {% include 'uplot-style.html' %}

</head>

<body>


{% if nyse_schedule | length  == 0 %}
market closed!
{% else %}


<span id="tstampSpan" style="font-size: 20px !important; color: #ffffff;"></span>
<br>
spx: <span id="spxpriceSpan" style="font-size: 20px !important; color: #ffffff;"></span>
, es: <span id="espriceSpan" style="font-size: 20px !important; color: #42e900;"></span>
, vix: <span id="vixSpan" style="font-size: 20px !important; color: #ff0000;"></span>
, vix1d: <span id="vix1dSpan" style="font-size: 20px !important; color: #ff8800;"></span>
<div class="box">
    <div class="one" id="mySPXVIX"></div>
</div>
{% include 'index-spx-vix.html' %}
{% include 'index-ws.html' %}

# ES candle volume?<br>
# show candle volume gex <br>
# show candle volume order imbalance <br>

{% endif %}

</body>
</html>

