
<script>

function makeChartH2(opts) {
	let bars = uPlot.paths.bars({align: 0, size: [1, 4], gap: 0});
	opts = uPlot.assign({
		scales: {
			x: {
				time: false,
			},
		},
		focus: {
			alpha: 0.3,
		},
		cursor: {
			lock: true,
			drag: {
				x: true,
				y: true,
			},
			sync: {
				key: 1,
				scales: ["x"], //scales: ["x", "y"],
			},
			focus: {
				prox: 30,
			}
		},
		series: [
			{},
			{
				stroke: "cyan",
				fill: "rgba(0,255,255,0.9)",
				paths: bars,
			},
			{
				stroke: "purple",
				fill: "rgba(127,0,128,0.9)",
				paths: bars,
			},
		],
	}, opts);

	return new uPlot(opts, [], document.getElementById("myConvexity"));
}

function linesPlugin2({lines2}) {
	function drawLines(u) {
  		const { ctx, bbox } = u;
		lines2.forEach( item => {
			xVal = item[0];
			color = item[1];
			let x4 = u.valToPos(xVal, 'x', true);
			let ylft = u.valToPos(u.scales.y.min, 'y', true);
			let yrgt = u.valToPos(u.scales.y.max, 'y', true);
			u.ctx.save();
			u.ctx.beginPath();
			u.ctx.moveTo(ylft, x4);
			u.ctx.lineTo(yrgt, x4);
			u.ctx.setLineDash([5,5]);
			u.ctx.lineWidth = 1.5;
			u.ctx.strokeStyle = color;
			u.ctx.stroke();
			u.ctx.restore();
		});
	}

  return {
    hooks: {
      draw: drawLines,
    }
  };
}

const lines2 = [];

let mychartH2 = makeChartH2({
	width: 320,
	height: 420,
	title: "convexity*",
	scales: {
		x: {
			dir: 1,
			ori: 1,
		},
		y: {
			dir: 1,
			ori: 0,
		}
	},
	plugins: [
		linesPlugin2({lines2})
	],
	axes: [
		{
			side: 3,
			stroke: "#666666",
			tick: {stroke: "#666666",width:1},
			grid: {stroke: "#666666",width:1},
		},
		{
			side: 0,
			stroke: "#666666",
			grid: {stroke: "#666666",width:1},
			tick: {stroke: "#666666",width:1},
		}
	],
});


function updateChartConvexity(data){
	lines2[0] = [data.plus_expected_move,'gray'];
	lines2[1] = [data.minus_expected_move,'gray'];
	lines2[2] = [data.major_pos_convexity,'cyan'];
	lines2[3] = [data.major_neg_convexity,'purple'];
	lines2[4] = [data.spx_price,'white'];
	mychartH2.setData(data.convexity_list);
}


</script>
