<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>

    <meta charset="utf-8">
    <title>ghettogex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/uPlot.min.css">
    <script src="/static/uPlot.iife.min.js"></script>
    {% include 'index-uplot-style.html' %}
    <style>
    .myText {
        font: sans-serif;
        font-size: 14px;
    }
    </style>
</head>

<body>


{% if load_data %}

data_tstamp: <span id="dataTstampSpan" style="font-size: 18px !important; color: #5a5a5a;"></span>
<span id="dataQcSpan" style="font-size: 18px !important; color: #ff0000;"></span>
<br>
ndx: <span id="ndxpriceSpan" style="font-size: 20px !important; color: #8f8f8f;"></span>
/es: <span id="espriceSpan" style="font-size: 20px !important; color: #8f8f8f;"></span>
, vix: <span id="vixSpan" style="font-size: 20px !important; color: #ff0000;"></span>
, vix1d: <span id="vix1dSpan" style="font-size: 20px !important; color: #ff8800;"></span>
, spx: <span id="spxpriceSpan" style="font-size: 20px !important; color: #ffffff;"></span>

<div class="box">
    <div class="one" id="mySPXVIX"></div>
    <div class="one" id="myCallOrderImbalance"></div>
    <div class="one" id="myPutOrderImbalance"></div>
</div>
<div class="box">
    <div class="one" id="mySPXVolatility"></div>
    <div class="one" id="myGexStrike"></div>
    <div class="one" id="myConvexity"></div>
    <div class="one" id="myNdxConvexity"></div>
</div>
<br>
server_tstamp: <span id="serverTstampSpan" style="font-size: 18px !important; color: #5a5a5a;"></span>
, query_time: <span id="queryTimeSpan" style="font-size: 18px !important; color: #5a5a5a;"></span>
<br>
{% include 'index-spx-vix.html' %}
{% include 'index-orderimbalance.html' %}
{% include 'index-ws.html' %}
{% include 'index-gex.html' %}
{% include 'index-convexity.html' %}
{% include 'index-convexity-ndx.html' %}
{% include 'index-volatility.html' %}
<p class="myText">
*** DISCLAIMER: For educational and entertainment purposes only. Content provided as is, use at your own risk. <br>
System is very unstable, beware of missing data, data for sure inaccurate with much assumptions made! For more info <a href="/about">click here</a>.***<br>
</p>
{% else %}
<p class="myText">
{{ market_status }}
</p>
{% endif %}
</body>
</html>

