<script>

function makeChartPrices() {
	let isYRangeFixed = false;
	const opts = {
		title: "prices",
		width: 380,
		height: 380,
		series: [
			{},
			{
				label: "vix",
				scale: "scale1",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				stroke: "rgba(255,0,0,1)",
				width: 2/devicePixelRatio,
			},
			{
				label: "spx",
				scale: "scale0",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				width: 2/devicePixelRatio,
				stroke: "rgba(255,255,255,1)",
			},
		],
		axes: [
			{
				side: 0,
				stroke: "#666666",
				tick: {stroke: "#666666",width:1},
				grid: {stroke: "#666666",width:1},
			},
			{
				side: 3,
				scale: "scale0",
				stroke: "#666666",
				grid: {stroke: "#666666",width:1},
				tick: {stroke: "#666666",width:1},
			},
			{
				side: 1,
				scale: "scale1",
				values: (u, vals, space) => vals.map(v => v.toFixed(2) + ""),
				stroke: "#666666",
				grid: {show: false},
				tick: {stroke: "#666666",width:1},
			},
		],
	};
	
	return new uPlot(opts, [], document.getElementById("mySPXVIX"));
}

let mychartPrices = makeChartPrices();

function updateChartPrices(data,minval,maxval){
	//mychartPrices.setScale('scale0', {min: minval, max: maxval});
	mychartPrices.setData(data);
}

</script>
