<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>

    <meta charset="utf-8">
    <title id="titleSpan">ghettogex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/uPlot.min.css">
    <script src="/static/uPlot.iife.min.js"></script>
    {% include 'index-uplot-style.html' %}
    <style>
    .myText {
        font: sans-serif;
        font-size: 14px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat({{ grid_cols }}, 1fr);
        gap: 4px;
    }
    </style>
</head>

<body>

{% if load_data %}
<span id="errorSpan" style="font-size: 20px !important; color: #ff0000;"></span>
data_tstamp: <span id="dataTstampSpan" style="font-size: 18px !important; color: #5a5a5a;"></span>
<span id="dataQcSpan" style="font-size: 18px !important; color: #ff0000;"></span>
<br>

<span id="pricesSpan" style="font-size: 20px !important; color: #ffffff;"></span>

<br>

<script>
    const TICKER_CHARTS = {{ ticker_charts | tojson }};
    const WS_ENDPOINT = "/ws-main";
    /*
    const WS_EXTRA_PARAMS = "&main-ticker={{ main_ticker }}"
        + "&main-charts={{ main_charts | join(',') }}"
        + "&other-tickers={{ other_tickers | join(',') }}"
        + "&other-charts={{ other_charts | join(',') }}";
    */
</script>
<!-- All charts flow into a single grid -->
<div class="grid-container">
    {% for div_name in div_id_list %}
    <div id="{{div_name}}"></div>
    {% endfor %}
</div>
<div>
<img src="/static/colorbar_volume_1min.png" width="500px">
</div>
<br>
server_tstamp: <span id="serverTstampSpan" style="font-size: 18px !important; color: #5a5a5a;"></span>
, query_time: <span id="queryTimeSpan" style="font-size: 18px !important; color: #5a5a5a;"></span>
<br>
<span style="font-size: 18px !important; color: #ffffff;">PM0DTE total contract volume >1000 by minute:</span>
<span id="contractvolumeSpan" style="font-size: 18px !important; color: #ffffff;"></span>

<br>

{% include 'partials/chart-factory.html' %}
{% include 'partials/ws-handler.html' %}

<p class="myText">
*** DISCLAIMER: For educational and entertainment purposes only. Content provided as is, use at your own risk. <br>
System is very unstable, beware of missing data, data for sure inaccurate with much assumptions made! For more info <a href="/about">click here</a>.***<br>
</p>
{% else %}
<p class="myText">
<span style="font-size: 20px !important;">{{ market_status }}</span>
</p>
{% endif %}
</body>
</html>
