<script>

function makeChartDex() {
	let isYRangeFixed = false;
	const opts = {
		title: "dex,last-30min",
		width: 240,
		height: 380,
		legend: {
			show: false,
		},
		series: [
			{},
			{
				label: "spx",
				scale: "scale0",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				stroke: "rgba(255,255,255,1)",
				width: 2/devicePixelRatio,
			},
			{
				label: "dex",
				scale: "scale1",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				width: 2/devicePixelRatio,
				stroke: "rgba(0,0,255,1)",
			},
			{
				label: "call_dex",
				scale: "scale1",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				width: 2/devicePixelRatio,
				stroke: "rgba(0,255,0,1)",
			},
			{
				label: "put_dex",
				scale: "scale1",
				value: (u, v) => v == null ? null : v.toFixed(2) + "",
				width: 2/devicePixelRatio,
				stroke: "rgba(255,0,0,1)",
			},
		],
		axes: [
			{
				side: 0,
				stroke: "#666666",
				tick: {stroke: "#666666",width:1},
				grid: {stroke: "#666666",width:1},
			},
			{
				side: 3,
				scale: "scale0",
				stroke: "#666666",
				grid: {stroke: "#666666",width:1},
				tick: {stroke: "#666666",width:1},
			},
			{
				side: 1,
				scale: "scale1",
				values: (u, vals, space) => vals.map(v => v.toFixed(2) + ""),
				stroke: "#666666",
				grid: {show: false},
				tick: {stroke: "#666666",width:1},
			},
		],
	};
	
	return new uPlot(opts, [], document.getElementById("myDex"));
}

let mychartDex = makeChartDex();

function updateChartDex(data,minval,maxval){
	mychartDex.setScale('scale0', {min: minval, max: maxval});
	mychartDex.setData(data);
}

</script>
