
<div id="prices" hx-swap-oob="true">
<br>
<table>
<tr>
<td>
{% if market_open %}
<span class="badge rounded-pill text-bg-success">market-open</span>
{% else %}
<span class="badge rounded-pill text-bg-danger">market-closed</span>
{% endif %}

{% for ticker,myitem in mydict.items() %}
<td>
<a target="_" href="/ticker/overview?ticker={{ticker}}">
{% if not market_open %}
<span class="badge rounded-pill text-bg-secondary">
{% elif 'data' in myitem %}
    {% if myitem.data.close > myitem.data.prev_day_close %}
    <span class="badge rounded-pill text-bg-success">
    {% else %}
    <span class="badge rounded-pill text-bg-danger">
    {% endif %}
{% else %}
<span class="badge rounded-pill text-bg-secondary">
{% endif %}
{{ticker}} {{myitem.last_price}}
</span>
</a>
</td>
{% endfor %}

<td>
<span class="badge rounded-pill text-bg-dark">
tstamp:{{ tstamp }}
</span>
</td>

<td>
<a href="/logout">
<span class="badge rounded-pill text-bg-secondary">
logout
</span>
</a>
</td>



</tr>
</table>
<hr>
</div>

