
<style>
    body {
        background: #000000;
        color: #6b6b6b;
        font: sans-serif;
        margin: 50px;
    }

    .box {
        display: flex;
    }

    .one {
    flex: 1 1 auto;
    }

    .two {
    flex: 1 1 auto;
    }

    .three {
    flex: 1 1 auto;
    }

    .uplot {
        display: inline-block;
        vertical-align: top;
        color: white;
    }
    .u-indic-x,.u-indic-y {
        color: white;
    }

    .u-legend.u-inline .u-value {
        width: 150px;
        text-align: left;
    }
</style>