<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>

    <meta charset="utf-8">
    <title>sec-gex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/uPlot.min.css">
    <script src="/static/uPlot.iife.min.js"></script>
    {% include 'uplot-style.html' %}

</head>

<body>
    <div id="status">....</div>
    <div id="myHorizontal"></div>
    <div id="myVertical"></div>
    {% include 'uplot-verticalbars.html' %}
    {% include 'uplot-horizontalbars.html' %}
    {% include 'uplot-ws.html' %}
</body>
</html>