<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>

    <meta charset="utf-8">
    <title>sec-gex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/uPlot.min.css">
    <script src="/static/uPlot.iife.min.js"></script>
    {% include 'uplot-style.html' %}

</head>

<body>
    <div class="box">
        <div class="one" id="myHorizontal"></div>
        <div class="two" id="myVertical"></div>
        <div class="three" id="myVertical2"></div>
    </div>
    <div class="box">
        <div id="tstampDiv">...</div>
        <div id="statusDiv">...</div>
        <div>ticker:{{ticker}} tstamp:{{tstamp}}</div>
    </div>
    {% include 'uplot-horizontalbars.html' %}
    {% include 'uplot-verticalbars.html' %}
    {% include 'uplot-verticalbars2.html' %}
    {% include 'uplot-ws.html' %}
</body>
</html>