
<script>
    const ws = new WebSocket("/ws-ex?ticker={{ticker}}&tstamp={{tstamp}}");
    let statusDiv = document.getElementById("statusDiv");
    let tstampSpan = document.getElementById("tstampSpan");
    let spotpriceSpan = document.getElementById("spotpriceSpan");
    ws.onmessage = function(event) {
        let newdata = JSON.parse(event.data);
        statusDiv.textContent = newdata.status;
        tstampSpan.textContent = newdata.server_tstamp;
        spotpriceSpan.textContent = newdata.spot_price;
        updateChartH(newdata);
        updateChartBarV1(newdata.diffgex);
        updateChartBarV2(newdata.diffconvexity);
        updateChartBarV3(newdata.diffdex);
        updateChartLineV1(newdata.netgex);
        updateChartLineV2(newdata.netconvexity);
        updateChartLineV3(newdata.netdex);
    }
</script>
