<div id="surfUpdate" hx-swap-oob="true">
    <script>

    var surfLayout = {
        title: {text: '@aigonewrong<br>{{ticker}} gex*<br>{{"%.2f"|format(spot_price)}}',y:0.6,x:0.5},
        autorange: false,
        autosize: false,
        width: 512,
        height: 512,
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        scene: {
            xaxis: {
                title: 'strike',
                tickfont: {
                size: 12,
                color: 'rgba(100,100,100,0)'
                },
                titlefont: {
                size: 12,
                color: 'rgba(100,100,100,0)'
            }},
            yaxis: {
                title: 'expiration',
                tickfont: {
                size: 12,
                color: 'rgba(100,100,100,0)'
                },
                titlefont: {
                size: 12,
                color: 'rgba(100,100,100,0)'
            }},
            zaxis: {
                title: 'naive GEX($Bn/1%move)',
                tickfont: {
                size: 12,
                color: 'rgba(100,100,100,0)'
                },
                titlefont: {
                size: 12,
                color: 'rgba(100,100,100,0)'
            }}
        },
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
        },
        font: {
                family: 'Courier New, monospace',
                size: 18,
                color: 'rgba(200,200,200,1)'
        }
    };

    var z_data=[];
    {% for x in surf_list %}
    z_data.push({{ x }});
    {% endfor %}
    
    var surfData = [{
        z: z_data,
        x: {{strike_list}},
        y: {{expiration_list}},
        type: 'surface'
    }];

    //Plotly.react(surfDiv, surfData, surfDiv.layout);
    Plotly.react(surfDiv, surfData, surfLayout);

    </script>
</div>
<div id="strikeUpdate" hx-swap-oob="true">
    <script>

    var strikeLayout = { 
        title: {text: '@aigonewrong<br>{{ticker}} gex*<br><br>{{"%.2f"|format(spot_price)}}',y:0.6,x:0.5},
        autosize: false,
        width: 512,
        height: 512,
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        showlegend: false,
        xaxis: {
          title: {
            text: 'naive GEX($Bn/1%move)',
        }},
        yaxis: {
          title: {
            text: '{{ticker}}',
        }},
        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: 'rgba(200,200,200,1)'
        }
    };

    var strikeData = []

    strikeData.push({
        x: [ {{ strike_df.gex.min() }}, {{ strike_df.gex.max() }} ],
        y: [ {{ spot_price }}, {{ spot_price }} ],
        mode: 'lines',
        line: {
            color: 'rgb(255,140,0)',
            dash: 'dot',
            width: 8,
        }
    })

    {%for n,row in strike_df.iterrows() %}
    strikeData.push({
        x: [0, {{row.gex}}],
        y: [{{row.strike}}, {{row.strike}}],
        mode: 'lines',
        width: 5,
        {% if row.gex > 0 %}
        line: {color: 'rgb(50, 255, 50)'}
        {% else %}
        line: {color: 'rgb(255, 50, 50)'}
        {% endif %}
    })
    {% endfor %}


    Plotly.react(strikeDiv, strikeData, strikeLayout);

    </script>
    <div class="ml-x">
    <span class="badge rounded-pill text-bg-dark">
    <font style="color:gray;">data_tstamp:{{ data_tstamp }}</font>
    </span>
    <span class="badge rounded-pill text-bg-dark">
    <font style="color:gray;">server_tstamp:{{ server_tstamp }}</font>
    </span>
    </div>
</div>
