
<div id="myHeatMapDiv" hx-swap-oob="true">
    
<img src="data:image/jpeg;base64,{{ net_ex_binary | safe }}" width="450px">

<img src="data:image/jpeg;base64,{{ net_ex2_binary | safe }}" width="450px">

<img src="data:image/jpeg;base64,{{ dex_binary | safe }}" width="450px">

<img src="data:image/jpeg;base64,{{ heatmap_convexity_binary | safe }}" width="450px">

<img src="data:image/jpeg;base64,{{ heatmap_state_gex_binary | safe }}" width="450px">

<img src="data:image/jpeg;base64,{{ vex_binary | safe }}" width="450px">

<img src="data:image/jpeg;base64,{{ cex_binary | safe }}" width="450px">

</div>