<div id="myDiv" hx-swap-oob="true">
  <script>
  var data = []
  {%for n,row in df.iterrows() %}
  data.push({
      x: [0, {{row.naive_gex}}],
      y: [{{row.strike}}, {{row.strike}}],
      mode: 'lines',
      line: {color: 'rgb(200, 200, 244)'},
  })
  {% endfor %}
  {% if spot_price %}
  data.push({
      x: [ {{ df.naive_gex.min() }}, {{ df.naive_gex.max() }} ],
      y: [ {{ spot_price }}, {{ spot_price }} ],
      mode: 'lines',
      line: {
          color: 'rgb(244,10,10)',
          dash: 'dot',
          width: 1,
      }
  })
  {% endif %}  
  var layout = { 
      title: {text: '{{ticker}} {{ "%0.2f" | format(spot_price|float) }}'},
      paper_bgcolor: 'rgba(0,0,0,0)',
      plot_bgcolor: 'rgba(0,0,0,0)',
      autosize: false,
      width: 512,
      height: 512,
      showlegend: false,
      yaxis: {
        showgrid: true,
        range: [ {{spot_price}}*0.95, {{spot_price*1.05}} ]
      },
      xaxis: {
        showgrid: true,
        range: [ -5, 5 ]
      },
      font: {
          family: 'Courier New, monospace',
          size: 18,
          color: 'rgba(200,200,200,1)'
      }
  };
  
  Plotly.newPlot(plotDiv, data, layout);
  </script>
  
  <span class="badge rounded-pill text-bg-dark">
  data tstamp: {{ tstamp }}
  </span><br>
  <span class="badge rounded-pill text-bg-dark">
  websocket tstamp: {{ ws_tstamp }}
  </span>
  {% if df | length == 0 %}
  <br>
  no data found.
  {% endif %}

</div>
  
  