[core]

scheduler_url = http://fi-luigi:8082


# write logs to console
[logging.handlers.console]
level = "INFO"
class = "logging.StreamHandler"
formatter = "simple"

# luigid logging
[logging.loggers.luigi]
handlers = ["console"]
level = "INFO"
disabled = false
propagate = false


# luigid builded on tornado
[logging.loggers.tornado]
handlers = ["console"]
level = "ERROR"
disabled = false
propagate = false